:root{
  --text-color: #332c2b;
  --lighttext-color: #fefdfd;
  --brown: #776A56;
  --yellow: #ECCC69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E8E8EA;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 10px 20px;
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

.formInput{
  display: flex;
  flex-direction: column;
  gap: 4px;  

  label{
    position: relative;
    left: 5px;
  }
}