#home {
  color: var(--text-color);
  .background-img {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1400px;
    min-width: 900px;
    opacity: 0.7;
    z-index: -1;
  }
  .home-container {
  }

  .introduction {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;

    &-slogan {
      font-size: 70px;
      max-width: 1000px;
      text-shadow: 0px 4px 4px rgba(51, 44, 43, 0.25);
    }
    
    &-text {
      margin-top: 50px;
      font-size: 30px;
      max-width: 1100px;
      text-shadow: 0px 4px 4px rgba(51, 44, 43, 0.1);
    }
  }

  .features-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    margin-top: 150px;

    .features {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 25px;
      width: 300px;

      &-img {
        width: 240px;
        object-fit: contain;
        margin-bottom: 15px;
      }

      &-title {
        font-size: 25px;
      }
  
      &-description {
        font-size: 20px;
      }
    } 
  }

  .contact-us {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 150px;

    .our-message {
      text-align: center;
      width: 400px;
      font-size: 45px;
      text-shadow: 0px 4px 4px rgba(51, 44, 43, 0.25);
    }

    .feedback {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 500px;
    
      .personalInfo{
        display: flex;
        flex-direction: row;
        gap: 40px;

        label{
          font-size: 17px;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        input{
          border-radius: 15px;
          border: none;
          height: 27px;
          width: 220px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }     

      .message{
        border-radius: 10px;
        border: none;
        padding: 10px;
        width: 100%;
        height: 180px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      button{
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        height: 28px;
        width: 120px;
        background-color: #BDA298;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transform: translateX(315%);
      }
    }
  }
}
