#newForm {
  width: 100%;
  display: flex;
  &__left {
    background-color: #312d2a;
    height: 100vh;
    padding: 50px 20px;
    position: fixed;
    max-height: calc(100vh - 3.5rem);
    overflow-y: auto;

    // Sidebar yok ediliyor
    @media (max-width: 800px) {
      display: none;
    }

    .formElementsList {
      gap: 25px;
      display: flex;
      flex-direction: column;
      align-items: left;

      span {
        font-size: 27px;
        color: #bda298;
        font-weight: bold;
      }

      button {
        width: 240px;
        background-color: rgb(217, 217, 217, 0.15);
        border-radius: 15px;
        height: 45px;
        font-size: 18px;
        border-style: none;
        color: var(--yellow);
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 20px;

        &:hover {
          background-color: rgb(189, 162, 152, 0.1);
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: 801px) {
      width: calc(100% - 280px);
      margin-left: 280px;
    }

    .background {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1400px;
      min-width: 1200px;
      opacity: 0.7;
      z-index: -1;

      @media (min-width: 801px) {
        transform: translateX(-38%);
      }
    }
    .form-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 430px;
      width: 70%;
      max-width: 700px;
      .newForm{
        width: 100%;
      }
      .formTitle {
        display: flex;
        justify-content: center;
        color: var(--text-color);
        text-shadow: 2px 2px 2px rgba(142,123,120,0.8);        font-size: 35px;
        padding: 35px 50px;
      }
      .formElements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
      
        .formElementTitle{
          
        }
        input[type=text]{
          height: 30px;
          margin: 10px 0;
          border-radius: 5px;
          padding: 20px;
          width: 100%;
          height: 40px;
        }
        textarea{
          height: 30px;
          margin: 10px 0;
          border-radius: 5px;
          padding: 10px;
          width: 100%;
          height: 70px;
        }
        .deleteButton{
          display: flex;
          justify-content: flex-end;
        }
      }
      .button-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 25px;
        margin-bottom: 45px;

        .formButton {
          width: 200px;
          border-radius: 20px;
          border-style: none;
          background-color: var(--yellow);
          color: #43391d;
          font-size: 20px;
          font-weight: bold;
          padding: 12px 45px;
          letter-spacing: 1px;
          transition: ease 0.3s;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24),
            0 2px 10px 0 rgba(0, 0, 0, 0.19);
          cursor: pointer;

          &:hover {
            background-color: #ecd769;
          }
        }
      }
    }
  }
}
