#registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color);

  .background {
    position: fixed;
    z-index: 1;
    height: 100%;
  }

  .registration-container {
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background-color: #e8e8ea;
    transform: translateX(-0.5px);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0.95;
    z-index: 2;

    h1, h2 {
      font-weight: bold;
      margin: 0;
      text-align: center;
    }

    button {
      border-radius: 20px;
      border-style: none;
      background-color: var(--yellow);
      color: #43391d;
      font-size: 17px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      transition: ease 0.3s;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24),
        0 2px 10px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
      margin-top: 5px;

      &:hover {
        background-color: #ecd769;
      }

      &:active {
        transform: scale(0.95);
      }

      &.ghost {
        background-color: transparent;
        margin-top: 30px;
      }
    }

    form {
      background-color: #e8e8ea;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
    }

    .formInput {
      margin: 3px 0;
    }

    input {
      background-color: #d9d9d9;
      border-radius: 10px;
      border-style: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 250px;
    }

    .sign-up-container {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      opacity: 0;
      transition: all 0.6s ease-in-out;

      &.right-panel-active {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
      }
    }

    .sign-in-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
      left: 0;
      width: 50%;
      z-index: 2;

      &.right-panel-active {
        transform: translateX(100%);
      }
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 1000;

    &.right-panel-active {
      transform: translateX(-100%);
    }
  }

  .overlay {
    background: #bda298;
    background: -webkit-linear-gradient(to right, #d0b2a7, #bda298);
    background: linear-gradient(to right, #d0b2a7, #bda298);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;

    &.right-panel-active {
      transform: translateX(50%);
    }
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;

    &.overlay-left {
      transform: translateX(-20%);

      &.right-panel-active {
        transform: translateX(0);
      }
    }

    &.overlay-right {
      right: 0;
      transform: translateX(0);

      &.right-panel-active {
        transform: translateX(20%);
      }
    }
  }
}
